#room-container {
  min-width: 80vw;
  max-width: 90vw;
  min-height: 30vh;
  max-height: auto;
  margin: auto;
}
#import-header-div {
  height: 15vh;
}
#search-room {
  min-height: 10vh;
  max-height: 15vh;
  width: 100%;
  margin: 3vh auto 1vh auto;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
}
#h2 {
  border-bottom: 2px solid goldenrod;
  font-weight: 800;
}
#search-bar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 10vh;
  max-height: fit-content;
  width: 80%;
  margin: 2vh auto;
}
#select_bar {
  display: grid;
  place-items: center;
  min-width: 250px;
  max-width: 270px;
  min-height: 80px;
  max-height: 100px;
  margin-top: 1rem;
}

#num-inpDiv {
  display: grid;
  place-items: center;
  min-width: 230px;
  max-width: 250px;
  min-height: 80px;
  max-height: 100px;
  padding: 3px;
  margin-top: 1rem;
}
#M-auto {
  margin: auto;
  margin-top: 3px;
}
#ch-btn {
  display: flex;
  place-items: center;
  justify-content: space-between;
  min-width: 125px;
  max-width: 200px;
  min-height: 50px;
  max-height: 75px;
  margin-top: 1rem;
}
.ch-bx {
  height: 100%;
  padding: 2px 5px;
  width: 100%;
  margin: 2px auto;
}
#slider-div {
  display: grid;
  place-items: center;
  min-width: 180px;
  max-width: 210px;
  min-height: 50px;
  max-height: 75px;
  margin-top: 1rem;
}
#sl {
  height: 100%;
  padding: 2px 5px;
  width: 95%;
  margin: auto;
}
#room-card {
  margin-top: 2vh;
}
