#service-section {
  display: flex;
  /* flex-wrap: nowrap; */
  min-height: 40vh;
  max-height: auto;
  min-width: 80vw;
  max-width: 90vw;
  margin: 20vh auto;
  margin-top: 10vh;
  /* background-color: rgb(224, 215, 215); */
}
.service-div {
  margin: auto;
  min-width: 270px;
  max-width: 290px;
  min-height: 270px;
  max-height: 290px;
  display: grid;
  place-items: center;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  background-color: whitesmoke;
  padding: 8px;
  z-index: 5;
  border-radius: 1rem;
  box-shadow: 1px 3px 6px 4px rgb(102, 94, 94);
}
.icon-big {
  min-width: 3rem;
  min-height: 3rem;
}
.p-icon {
  height: 5rem;
  width: 5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: skyblue;
}
@media screen and (max-width: 1100px) {
  #service-section {
    flex-wrap: wrap;
  }
}
