#tc-container {
  min-height: 100vh;
  min-width: 99vw;
  max-width: 100vw;
  max-height: auto;
  /* background-color: yellow; */
}
#info-div {
  min-height: 100%;
  max-height: max-content;
  min-width: 60%;
  max-width: 80%;
  margin: auto;
}
#info-div .tc-div {
  width: 80%;
  margin: 1rem auto;
  background-color: rgb(232, 225, 225, 0.5);
  box-shadow: 4px 4px 4px 4px rgb(225, 221, 221);
}
hr {
  margin: 1rem;
}
#info-div,
h3,
p {
  padding: 1rem;
}
