* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: orange; */
  /* overflow: hidden; */
}

/* Rooms */
/* #room-div {
  min-width: 80vw;
  max-width: 90vw;
  min-height: 80vh;
  max-height: auto; */
/* background-color: skyblue; */
/* margin: auto; */
/* margin-top: 2rem; */
/* } */
